.lead-list-api-menu-admin {
   
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 20px 0 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.lead-list-api-menu-admin h2 {
    font-size: 20px;
    text-transform: uppercase;
    padding: 0;
    margin: 10px 0 15px 15px;
}

.lead-list-api-menu-admin ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.lead-list-api-menu-admin li {
    margin-bottom: 5px;
    display: inline-block;
}

.lead-list-api-menu-admin a {
    display: block;
    padding: 8px 15px;
    color: #333;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.lead-list-api-menu-admin a:hover {
    background-color: #ddd;
}

.lead-lest-api .wrap h1 {

    text-transform: uppercase;
}

.lead-lest-api .wrap p { 
    margin: 0 0 15px 0;
    font-size: 18px;
}
    
.lead-lest-api .delete-leads,
.lead-lest-api  .delete-token { 
    margin-right: 20px;
    margin-left: auto;
    margin-top: 25px;
    margin-bottom: 25px;
 }

 
 /* Estilo para a tabela */
.lead-lest-api .leads-list-teble {
    border-collapse: collapse;
    margin: 10px 20px 0 2px;
}  
/* Estilo para o cabeçalho da tabela */
.lead-lest-api .leads-list-teble th {
    background-color: #cacaca;
    color: #333;
    font-weight: bold;
    padding: 8px; 
    border: 1px solid black; 
    text-transform: capitalize;
}

/* Estilo para as linhas pares */
.lead-lest-api .leads-list-teble  tr:nth-child(even) {
    background-color: #f9f9f9; 
}

/* Estilo para as células */
.lead-lest-api .leads-list-teble  td {
    border: 1px solid black; 
    padding: 8px; 
    text-align: center;
}


/* Estilo para o formulário */
.lead-lest-api form {
    display: flex; /* Exibe os elementos do formulário em linha */
    flex-wrap: wrap; /* Permite que os elementos quebrem para a próxima linha, se necessário */
}

/* Estilo para cada item do formulário token */
.lead-lest-api .form-token ul {
    list-style: none;
    padding: 0;
    display: inline-block;
}

/* Estilo para cada item do formulário */
.lead-lest-api .form-token ul li {
    margin-right: 20px;
  display: inline-block;
}

/* Estilo para os rótulos do formulário */
.lead-lest-api .form-token ul li label {
    display: block;  
    margin-bottom: 5px;  
}

/* Estilo para os campos de entrada do formulário */
.lead-lest-api .form-token ul li input[type="text"] {
    width: 200px;  
}

/* Estilo para o botão do formulário */
.lead-lest-api .form-token ul li .button-primary {
    margin-top: 5px;  
}
.lead-lest-api  .wrap {
    font-family: Arial, sans-serif;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.lead-lest-api .wrap h1, 
.lead-lest-api .wrap h2 {
    margin-bottom: 10px;
}

.lead-lest-api  form {
    margin-bottom: 20px;
}

.lead-lest-api  form label {
    display: block;
    margin-bottom: 5px;
}

.lead-lest-api  form input[type="text"] {
    width: 300px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}



 
.lead-lest-api  .edit-field {
    list-style: none;
    padding: 0;
    width: auto;
    display: table;
}

.lead-lest-api  .edit-field li {
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.lead-lest-api  .edit-field li span {
    font-weight: bold;
}

.lead-lest-api  .edit-field li form {
    margin-top: 5px;
    height: 40px;
}

.lead-lest-api  .edit-field li form input[type="text"] {
    margin-right: 10px;
}

.lead-lest-api  .edit-field li form button {
    cursor: pointer;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
}

.lead-lest-api  .edit-field li form button[type="submit"] {
    background-color: #0073aa;
    color: #fff;
    margin: 0 5px;
}

.lead-lest-api  .edit-field li form button[type="submit"]:hover {
    background-color: #005e8d;
}